.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 0;

  > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid teal;
    border-radius: 8px;
    cursor: pointer;

    &.active {
      border-color: darkorange;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}