.navbar {
  padding: 15px 0;
  width: 100%;
  background-color: teal;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  font-family: "Arial", sans-serif;
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 16px;
  }
}