.comments {
  margin: 15px 0 0;
  padding: 15px;
  border-top: 2px solid teal;
}

.title {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
}

.item {
  &:not(:last-child) {
    margin: 0 0 15px;
  }
}